.Rproj.user
.Rhistory
.RData
.Ruserdata
FilteredData
HumanMicrobiomeTutorial.Rproj
PRJEB14941.txt
RawData
Tutorial.Rmd
Tutorial.html
Tutorial_cache
Tutorial_files
metadata.txt
pullfiles.sh
rdp_species_assignment_14.fa.gz
rdp_train_set_14.fa.gz
samples_to_analyze.txt
silva_nr_v123_train_set.fa.gz
silva_species_assignment_v123.fa.gz
.DS_Store
tutorialdata
Tutorialv2.Rmd
Tutorialv2.html
Tutorialv2_cache
Tutorialv2_files
TutorialInstall.Rmd
index.Rmd
